.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link {
  width: 30%;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 auto;
  padding: 8px;
}
